<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<!-- 定义国际化消息 -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename">
			<value>
				com.demo.spring.resources.ApplicationResources
			</value>
		</property>
	</bean>

	<!-- 配置数据源与事务 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://localhost:3306/demo</value>
		</property>
		<property name="username">
			<value>root</value>
		</property>
		<property name="password">
			<value>root000</value>
		</property>
	</bean>
	
	
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
	</bean>


	<!-- 定义DAO -->
	<bean id="userDAO" class="com.demo.spring.dao.UserDAO">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
	</bean>
	<bean id="UserDAOProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref local="userDAO" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>



	<!-- 定义视图 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass">
			<value>
				org.springframework.web.servlet.view.InternalResourceView
			</value>
		</property>
		<!-- JSP都放在/目录下 -->
		<property name="prefix">
			<value>/</value>
		</property>
		<!-- JSP页面的后缀都四.JSP -->
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>

	<!-- 定义映射 -->
	<bean id="loginMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/login.do">loginAction</prop>
			</props>
		</property>
	</bean>
	<bean id="logoutMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/logout.do">logoutAction</prop>
			</props>
		</property>
	</bean>
	<bean id="registerMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/register.do">registerAction</prop>
			</props>
		</property>
	</bean>



	<!---定义Action -->
	<bean id="loginAction" class="com.demo.spring.actions.LoginAction">
		<property name="commandClass">
			<value>com.demo.spring.forms.LoginForm</value>
		</property>
		<!-- 指定DAO类 -->
		<property name="userDAO">
			<ref local="userDAO" />
		</property>
		<!-- 指定验证类 -->
		<property name="validator">
			<ref local="loginValidator" />
		</property>
		<!-- 指定失败要返回的页面 -->
		<property name="formView">
			<value>login</value>
		</property>
		<!-- 指定成功要返回的页面 -->
		<property name="successView">
			<value>welcome</value>
		</property>
	</bean>
	<bean id="logoutAction" class="com.demo.spring.actions.LogoutAction">
		<property name="commandClass">
			<value>com.demo.spring.forms.LoginForm</value>
		</property>
		<property name="successView">
			<value>login</value>
		</property>
	</bean>
	<bean id="registerAction" class="com.demo.spring.actions.RegisterAction">
		<property name="commandClass">
			<value>com.demo.spring.forms.RegisterForm</value>
		</property>
		<!-- 指定DAO类 -->
		<property name="userDAO">
			<ref local="userDAO" />
		</property>
		<!-- 指定验证类 -->
		<property name="validator">
			<ref local="registerValidator" />
		</property>
		<!-- 指定失败要返回的页面 -->
		<property name="formView">
			<value>register</value>
		</property>
		<property name="successView">
			<value>login</value>
		</property>
	</bean>

	<!-- 定义验证类 -->
	<bean id="loginValidator" class="com.demo.spring.validator.LoginValidator" />
	<bean id="registerValidator" class="com.demo.spring.validator.RegisterValidator" />


</beans>
